/*! normalreset.css v1.0.0 | MIT license | github.com/JasonSubMara/normalreset.css */
/* Based on Nicolas Gallagher and Jonathan Neal's normalize.css and Eric's reset.css */
/* ================================================================================= */

@charset "utf-8";

*,
*::before,
*::after {
  /* Add border box sizing in all browsers. */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  /* Prevent adjustments of font size after orientation changes in iOS. */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* Correct the line height in all browsers. */
  line-height: 1.15;
}

body {
  /* Remove the margin & padding in all browsers. */
  margin: 0;
  padding: 0;
  /* Make font smooth in MacOS  */
  -webkit-font-smoothing:antialiased;
  /* Terminal rendering rules for font cluster */
  font-family:
    /* personal for Chinese project */Source Han Sans SC,
    /* system default */system-ui,
    /* macOS 10.11-10.12 */-apple-system,BlinkMacSystemFont,,PingFang SC,
    /* Windows 6+ */ Segoe UI,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,
    /* fall back */Helvetica Neue,sans-serif;
  /* Change the font size in all browsers. */
  font-size: 14px;
}

hr {
  /* Add the correct box sizing in Firefox. */
  box-sizing: content-box;
  height: 0;
  /* Show the overflow in Edge and IE. */
  overflow: visible;
}

pre,
code,
kbd,
samp {
  /* Terminal rendering rules for special element in all broswers. */
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  /* Correct the odd `em` font sizing in all browsers. */
  font-size: 1em;
}

ol,
ul,
li,
dl,
dt,
dd {
  /* Remove the list style in all browsers. */
  list-style: none;
  outline: none;
}

img {
  /* Remove the border on images within links in IE 10+. */
  border-style:none;
}

audio,
canvas,
img,
svg,
video,
iframe {
  /* Change the alignment on media elements in all browsers. */
  vertical-align:middle;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  /* Render the element consistently in IE. */
  display: block;
}

address {
  /* Reset contact area style. */
  font-style: normal;
  line-height: inherit;
}

button,
input,
optgroup,
select,
textarea {
  /* Change the font styles in all browsers. */
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  /* Remove the margin in Firefox and Safari. */
  margin: 0;
}

a {
  /* Remove the gray background on active links in IE 10. */
  background-color: transparent;

  /* Remove the underline in all browsers. */
  text-decoration:none;
}
